pipeline/Csv_Data_Load.json
{
	"name": "Csv_Data_Load",
	"properties": {
		"activities": [
			{
				"name": "Get File List",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText2",
						"type": "DatasetReference",
						"parameters": {
							"ls_adls_url": {
								"value": "@pipeline().parameters.ls_adls_url",
								"type": "Expression"
							},
							"ds_dest_container": {
								"value": "@pipeline().parameters.landing_container_name",
								"type": "Expression"
							},
							"ds_landing_folder": {
								"value": "@pipeline().parameters.ds_landing_folder",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Only Files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get File List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get File List').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "File Count Check",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Only Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Only Files').output.FilteredItemsCount,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail Overall Pipeline",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "one or more cobol file process error",
								"errorCode": "500"
							}
						}
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "File Count Check",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Only Files').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set varUTCDateTime",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varUTCDateTime",
								"value": {
									"value": "@pipeline().parameters.effective_date",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Schema_Validation_for_File",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "Set varUTCDateTime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "Schema_Validation_File",
									"type": "NotebookReference"
								},
								"snapshot": true,
								"executorSize": "Small",
								"driverSize": "Small"
							}
						},
						{
							"name": "Notebook2",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "Schema_Validation_for_File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"snapshot": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"adls2_account_name": {
				"type": "string"
			},
			"historical_container_name": {
				"type": "string",
				"defaultValue": "historical"
			},
			"landing_container_name": {
				"type": "string",
				"defaultValue": "landing"
			},
			"harvested_container_name": {
				"type": "string",
				"defaultValue": "harvested"
			},
			"metadataDBTable": {
				"type": "string",
				"defaultValue": "SADPDataDomainCSVDetail"
			},
			"domain_name": {
				"type": "string",
				"defaultValue": "equifax"
			},
			"ls_adls_url": {
				"type": "string"
			},
			"ds_landing_folder": {
				"type": "string"
			},
			"separator": {
				"type": "string"
			},
			"config_container_name": {
				"type": "string"
			},
			"is_cobol_config_present": {
				"type": "string"
			},
			"is_headerless": {
				"type": "string"
			},
			"numberOfHeaders": {
				"type": "string"
			},
			"numberOfFooters": {
				"type": "string"
			},
			"parent_pl_id": {
				"type": "string"
			},
			"effective_date": {
				"type": "string"
			},
			"is_compressed_file_present": {
				"type": "string"
			}
		},
		"variables": {
			"varUTCDateTime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}